<div class="login-block">
  <div class="login-logo"><span>WebCore Demo</span></div>

  <div class="login-box">
    <div>Sign in to start your session</div>

    <div class="input-block">
      <span class="p-input-icon-right">
        <i class="pi pi-mobile"></i>
        <input type="text" pInputText placeholder="user.account" [(ngModel)]="user.account" />
      </span>
    </div>

    <div class="input-block">
      <span class="p-input-icon-right">
        <i class="pi pi-lock"></i>
        <input type="password" pInputText placeholder="Password" [(ngModel)]="user.password" />
      </span>
    </div>

    <div class="input-block">
      <div class="login-remember-me">
        <p-checkbox [(ngModel)]="rememberMe" [binary]="true" inputId="binary"></p-checkbox>
        <label for="binary">Remember Me</label>
      </div>
      <button pButton type="button" label="Sign In" (click)="logIn()"></button>
    </div>

    <div style="margin-top: 1em; margin-bottom: 1em;">
      <span>- OR -</span>
    </div>

    <div class="login-button-block">
      <button class="full-width-button p-button-help" pButton type="button" label="Sign In using Email"></button>
      <button class="full-width-button p-button-success" pButton type="button" label="Sign In using WeChat"></button>
    </div>

    <div class="login-link">
      <a href="">I forgot my password</a>
      <a href="">Register a new account</a>
    </div>

  </div>
</div>
