<div class="layout-topbar">
  <a class="menu-button" (click)="onMenuButtonClick($event)">
      <i class="pi pi-bars"></i>
  </a>
  <div class="app-theme" [pTooltip]="config.theme" tooltipPosition="bottom">
      <img [src]="'assets/images/themes/' + logoMap[config.theme]" />
  </div>
  <ul #topbarMenu class="topbar-menu">
      <li><a [routerLink]="['/setup']">Get Started</a></li>
      <li class="topbar-submenu">
          <a tabindex="0" (click)="toggleMenu($event, 0)"><span pBadge severity="danger">Themes</span></a>
          <ul [@overlayMenuAnimation]="'visible'" *ngIf="activeMenuIndex === 0" (@overlayMenuAnimation.start)="onOverlayMenuEnter($event)">
              <li class="topbar-submenu-header">THEMING</li>
              <li><a [routerLink]="['/theming']"><i class="pi pi-fw pi-file"></i><span>Guide</span></a></li>
              <li><a href="https://www.primefaces.org/designer/primeng"><i class="pi pi-fw pi-palette"></i><span>Designer</span></a></li>
              <li><a href="https://www.primefaces.org/designer-ng"><i class="pi pi-fw pi-desktop"></i><span>Visual Editor</span></a></li>
              <li><a [routerLink]="['/icons']"><i class="pi pi-fw pi-info-circle"></i><span>Icons</span></a></li>
              <li><a href="https://www.figma.com/community/file/890589747170608208"><i class="pi pi-fw pi-pencil"></i><span>Figma UI Kit</span></a></li>

              <li class="topbar-submenu-header">BOOTSTRAP</li>
              <li><a (click)="changeTheme($event, 'bootstrap4-light-blue', false)"><span>Blue Light</span></a></li>
              <li><a (click)="changeTheme($event, 'bootstrap4-light-purple', false)"><span>Purple Light</span></a></li>
              <li><a (click)="changeTheme($event, 'bootstrap4-dark-blue', true)"><span>Blue Dark</span></a></li>
              <li><a (click)="changeTheme($event, 'bootstrap4-dark-purple', true)"><span>Purple Dark</span></a></li>

              <li class="topbar-submenu-header">MATERIAL DESIGN</li>
              <li><a (click)="changeTheme($event, 'md-light-indigo', false)"><span>Indigo Light</span></a></li>
              <li><a (click)="changeTheme($event, 'md-light-deeppurple', false)"><span>Deep Purple Light</span></a></li>
              <li><a (click)="changeTheme($event, 'md-dark-indigo', true)"><span>Indigo Dark</span></a></li>
              <li><a (click)="changeTheme($event, 'md-dark-deeppurple', true)"><span>Deep Purple Dark</span></a></li>
          </ul>
      </li>
      <li class="topbar-submenu">
          <a tabindex="0" (click)="toggleMenu($event, 1)">Templates</a>
          <ul [@overlayMenuAnimation]="'visible'" *ngIf="activeMenuIndex === 1" (@overlayMenuAnimation.start)="onOverlayMenuEnter($event)">
              <li class="topbar-submenu-header">PREMIUM ADMIN TEMPLATES</li>
              <li>
                  <a href="https://www.primefaces.org/layouts/verona-ng">
                      <!-- <img alt="Verona" src="assets/showcase/images/layouts/verona-logo.png"> -->
                      <span>Verona</span>
                  </a>
              </li>
          </ul>
      </li>
      <li class="topbar-submenu">
          <a tabindex="0" (click)="toggleMenu($event, 2)">Resources</a>
          <ul [@overlayMenuAnimation]="'visible'" *ngIf="activeMenuIndex === 2" (@overlayMenuAnimation.start)="onOverlayMenuEnter($event)">
              <li><a [routerLink]="['/support']"><span>Support</span></a></li>
              <li><a href="https://forum.primefaces.org/viewforum.php?f=35"><span>Forum</span></a></li>
              <li><a href="https://discord.gg/gzKFYnpmCY"><span>Discord Chat</span></a></li>
              <li><a href="https://github.com/primefaces/primeng" target="_blank"><span>Source Code</span></a></li>
              <li><a [routerLink]="['/lts']"><span>LTS</span></a></li>
              <li><a href="https://www.primefaces.org/store" target="_blank"><span>PrimeStore</span></a></li>
              <li><a href="https://www.primefaces.org/category/primeng/" target="_blank"><span>Blog</span></a></li>
              <li><a href="https://www.youtube.com/channel/UCTgmp69aBOlLnPEqlUyetWw" target="_blank"><span>PrimeTV</span></a></li>
              <li><a href="https://twitter.com/prime_ng?lang=en" target="_blank"><span>Twitter</span></a></li>
              <li><a href="https://www.primefaces.org/whouses" target="_blank"><span>Who Uses</span></a></li>
              <li><a href="https://www.primefaces.org/newsletter" target="_blank"><span>Newsletter</span></a></li>
              <li><a href="https://gear.primefaces.org" target="_blank"><span>Gear Store</span></a></li>
              <li><a href="https://www.primetek.com.tr" target="_blank"><span>About PrimeTek</span></a></li>
          </ul>
      </li>
  </ul>
</div>