<div class="layout-news">
  <div class="layout-news-container" (click)="redirect()">
      <!-- <img class="layouts-news-mockup-image" src="assets/images/libraryLogo.png"> -->
      <a href="https://www.primefaces.org/primeblocks-ng" target="_blank"  style="text-decoration: none" class="layout-news-button">
          LEARN MORE<i class="pi pi-angle-right"></i>
      </a>
      <a tabindex="0" class="layout-news-close" (click)="hideNews($event)">
          <i class="pi pi-times"></i>
      </a>
  </div>
</div>